@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #f8fafc;
  --gray: #333333;
  --black: #000;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

a {
  color: blue;
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  20% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(var(--translate-x, 0), var(--translate-y, 0));
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.animate-fade-in {
  opacity: 0;
  animation: fade-in var(--duration, 0.7s) ease-out;
  animation-delay: var(--delay, 0);
  animation-fill-mode: forwards;
}

@keyframes key-bounce {
  0%, 20%, 50% {
    transform: translateY(0) rotateZ(var(--start-rotation, -8deg));
  }
  35% {
    transform: translateY(var(--middle-translate, -5px)) rotateZ(var(--middle-rotation, 12deg));
  }
  65% {
    transform: translateY(var(--end-translate, -2px)) rotateZ(var(--end-rotation, 2deg));
  }
  100% {
    transform: translateY(0) rotateZ(var(--start-rotation, -8deg));
  }
}

.animate-bounce {
  animation: key-bounce var(--duration, 1s) infinite ease-in-out;
  animation-delay: var(--delay, 500ms);
}
